
@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#dtx-summary-table table, 
	#dtx-summary-table thead, 
	#dtx-summary-table tbody, 
	#dtx-summary-table th, 
	#dtx-summary-table td, 
	#dtx-summary-table tr { 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#dtx-summary-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#dtx-summary-table tr { border: 1px solid #ccc; }

	#dtx-summary-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}

	#dtx-summary-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#dtx-summary-table td:before { content: attr(data-title); }
}
	